/*
Default template CSS - if you change anything here then updating will be a bit more tricky than you might want
*/
/**= Desktop only */
.columns {
    margin-left: -10px;
}
.col {
    float: left;
    padding: 10px;
    width: 33%;
}
.col img {
    width: 100%;
}
/* Masthead */
.masthead nav {
    float: right;
    margin-right: 130px;
}
/**= Overrides from devices.css */
.busta {
    max-width: 980px;
    padding: 0 10px;
    margin: 0 auto;
}
.partners h2 {
    line-height: 75px;
    margin-bottom: 1em;
}
.partners ul {
    margin: 1.1125em 0 1.1125em 20px;
}

/**= And now time for your styles */
/* Template overrides */
.partners h2 {
    line-height: 50px;
}
#brand img {
    width: auto;
}
.article_body {
    position: relative;
    padding-right: 31%;
}
.fellowsbox {
    width: 30%;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 16px 1em;
    border-left: 1px solid #C6C6C6;
}
.fellowsbox .photo {
    width: 40%;
}
