/*
Default template CSS - if you change anything here then updating will be a bit more tricky than you might want
*/
@font-face {
    font-family: MetaWebPro-Black;
    src: url(../fonts/MetaWebPro-Black.woff) format('woff');
}
body {
    font-family: Helvetica, Arial, sans-serif;
    color: #515151 
}
a:link, 
a:visited,
a:focus,
a:hover,
a:active {
    color: #ad3121;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    text-decoration: underline;
}
aside {
    position: relative;
}
.box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;:52;
}
.busta {
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
.columns {
    overflow: hidden;
    padding-left: 0;
    margin-top: 0;
    clear: both;
}
.col {
    list-style-type: none;
    overflow: hidden;
}
/**= Sections */
/* Masthead */
.masthead {
    background-color: white;
    border-top: 2px solid #686868;
    color: #fff;
}
.tab {
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    text-indent: -9999em;
    background: transparent url(../img/css/icons.png) no-repeat 0 0;
    width: 118px;
    height: 48px;
    overflow: hidden;
}
.masthead ul {
    overflow: hidden;
    margin: 0;
    padding-left: 0;
}
.masthead ul li {
    float: left;
     padding: 1em;
    display: block;
    font-size: 12px;
}
.masthead ul li:first-child {
    border-left: none;
    padding-left: 0;
}
.masthead ul a {
    padding: 1em;
    display: block;
    font-size: 12px;
}
.masthead ul li:first-child a {
    padding-left: 0;
}
.masthead ul a:link,
.masthead ul a:visited,
.masthead ul a:focus,
.masthead ul a:hover,
.masthead ul a:active {
    color: white;
}
/* External links */
.external {
    background-color: #FFFFFF;
    font-family: Georgia;
}
.external h2 {
    padding-top: 40px;
    font-family: "MetaWebPro-Black";
    background: transparent url(../img/css/icons.png) no-repeat top left;
    color: #2e2e2d;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}
.external .tweet h2 {
    background-position: 0 -140px;
}
.external .mozilla h2 {
    background-position: 0 -290px;
}
.external .learn h2 {
    background-position: 0 -440px;
}
.external p {
    font-size: 14px;
    color: #454545;
}
.external ul {
    padding-left: 0;
}
.external li {
    list-style-type: none;
    border-top: 1px solid #D8DADC;
    padding: 0.5em 0;
    font-size: 14px;
}
.external li:first-child {
    border-top: none;
    padding-top: 0;
}
/* Partners */
.partners {
    background: url("../img/css/bg_partners.png") repeat-x scroll 0 0 #ececec;
}
.partners h2 {
    float: left;
    margin: 1em 0 0; /* 1em = 18px; */
    font-family: "MetaWebPro-Black";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
}
.partners ul {
    float: left;
    margin: 0;
    padding-left: 0;

}
.partners li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
}
/* Main content */
div[role=main] {
    background: #fff;
    margin: 0.625em 0;
}

/**= And now time for your styles */
#brand img {
    margin-top: 1em;
    width: 80%;
    height: auto;
}
#ONlogo {
    display: none;
}
div[role="main"] a {
    color: #ad3121;
}
div[role="main"] h1,
div[role="main"] h2 {
    text-transform: uppercase;
    color: #fc6e1f;
    font-family: "MetaWebPro-Black", Helvetica, Verdana, Arial, sans-serif;
    font-weight: normal;
}
article p,
article ul {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.6;
    font-size: 18px;
}
article header h2 {
    font-size: 28px;
}
article header p {
	font-size: 23px;
	line-height: 1.7;
}

.fellowsbox h3 {
    text-transform: uppercase;
    margin-top: 0;
    color: #676767;
    font-size: 19px;
    line-height: 1.2em;
    font-family: "MetaWebPro-Black", Helvetica, Verdana, Arial, sans-serif;
    font-weight: normal;
}
.fellowsbox ul {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
}
.fellowsbox .vcard {
    overflow: hidden;
    margin-bottom: 1em;
}
.fellowsbox .vcard p,
.fellowsbox .vcard ul {
    font-family: Arial;
    font-size: 14px;
    margin: 0 0 1em;
}
.fellowsbox .photo {
    border: 1px solid black;
    float: left;
    margin-right:10px;
}
.fellowsbox p.fn {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
.fellows_links {
    overflow: hidden;
    margin-top: 5px;
}
.fellows_links li {
    float: left;
}
.fellows_links li:first-child {
    margin-right: 5px;
}
.fellows_links li:first-child:after {
    content: "/";
    padding-left: 5px;
}
.external .opennews h2 {
    background-position: 0 -440px;
}
.external .knight h2 {
    background-position: 0 -590px;
}
.external p, .external ul {
	line-height: 1.3em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}
.external iframe {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
#involved, #minifellows, #newsbox {
    margin-bottom: 50px;
}

#involved ul, #involved p, #newsbox ul {
	font-size: 1em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
}

#involved li, #newsbox li {
	list-style-image: url(../img/css/arrow.png);
	list-style-position: inside;
	margin-bottom: 8px;
}

div[role="main"] .opengraph a {
	border-bottom-color: #444444;
	border-bottom-style: dotted;
	border-bottom-width: 1px;
	color: rgb(0,0,0);
}

div[role="main"] .opengraph a:hover {
	border-bottom-color: #222222;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-decoration: none;
}

#ONlogo {
    padding-right: 130px;
    margin-right: 50px;
    float: right;
}
div.article_body {
    margin-bottom: 50px;
}
#newsline {
    font-family: "MetaWebPro-Black";
    font-size: 18px;
    text-align: center;
    border: 1px solid rgb(198, 198, 198);
    border-width: 1px 0;
    text-transform: uppercase;
    margin: 10px 0;
}

#newsline a {
    padding: 10px;
    text-decoration: none;
    color: rgb(103, 103, 103);
    display: block;
}

#newsline a:hover {
    background-color: rgb(255, 91, 36);
    color: #fff;
}
div.article_body {
margin-bottom: 50px;
}

#minifellows ul li {
display: inline;
}
#minifellows a {
    margin-top: 1em;
    display: block;
}

#minifellows ul li img {
border: 1px solid #454545;
}

#minifellows p, #involved p, #newsbox p {
font-size: 0.9em;
font-family: Helvetica, Verdana, Arial, sans-serif;
}

table  {
	width: 80%;
	line-height: 1.6em;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", Times, serif;
}

table tr  {
	padding: 5px;
	border-bottom-color: #c8c8c8;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

table tr td:nth-child(2)  {
	text-align: right;
}


img.meet {
float: left; 
border: 1px solid black;
margin-right: 15px;
}

.spacer {
margin-top: 50px;
}

#newsbox li {
list-style: none;
line-height: 1.4em;
margin-bottom: 15px;
}

.bodybig {
font-size: 23px;
line-height: 1.7;
margin-bottom: 50px;
}

#nav {
	margin-top: 5px;
	right: 138px;
	top: 8px;
	position: absolute;
	font-family: Helvetica, Verdana, Arial, sans-serif
}

#nav ul {
	padding: 0px;
	margin: 0px;
	text-align: left;
	display: inline;
}
#nav li {

	padding: 0px;

	margin: 0px;

	border-right-color: #bfbfbf;

	border-right-style: solid;

	border-right-width: 1px;

	text-align: left;

	display: inline;

	list-style-type: none;

}
 #nav li:last-child {

	border-right-width: 0px;

	text-align: left;

	display: inline;

	list-style-type: none;

}
 #nav li a {
font-size: 1.3em;
padding-right: 15px;
padding-left: 15px;
text-decoration: none;
color: #999999;
display: inline;
}
 #nav li a:hover, #nav li a:active, #nav li a.active, #fellowside li a:hover, #fellowside li a.active {
	color: #3e3e3e;
}
.fellowships #fellowships a,
.hackdays #hackdays a,
.getinvolved #getinvolved a,
.news #news a {
    color: #3e3e3e;
}
 #nav li a.active, #fellowside li a.active {
 cursor:default;
}

.hide {
display: none;
}

#hackcalbox {
min-height: 100px;
margin-bottom: 30px;
}

#hackcalbox table {
width: 98%;
}

#hackcalbox table tr td:nth-child(2)  {
	text-align: left;
} 

h3 {
color: #0d0d0d;
font-family: Helvetica, Verdana, Arial, sans-serif;
font-weight: normal;
font-size: 1.2em;
margin-top: 40px;
margin-bottom: 10px;
}

#fellowside {
padding-bottom: 5px;
padding-top: 5px;
margin: 0px;
margin-bottom: 20px;
font-family: Helvetica, Verdana, Arial, sans-serif;
width: 100%;
margin-top: 20px;
}

#fellowside ul {
	text-align: center;
	padding: 0px;
	margin: 0px;
	margin-top: -10px;
}

#fellowside li {
	border-right-color: #b1b1b1;
	border-right-style: solid;
	border-right-width: 1px;
	margin-left: 0px;
	margin-bottom: 0px;
	margin-right: 9px;
	margin-top: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	padding-right: 9px;
	padding-top: 0px;
	display: inline;
	font-size: 0.8em;
	font-family: Helvetica, Verdana, Arial, sans-serif;
	list-style-type: none;
}
 #fellowside li:last-child {
	border-right-width: 0px;
}

#fellowside li a {
color: #999999;
text-decoration: none;

}
.fellows_home #fellow_home,
.fellows_apply #fellow_apply,
.fellows_2011 #fellow_meet,
.fellows_info #fellow_benefits {
    color: #3E3E3E;
}

iframe {
margin-top: 30px;
border: 1px solid black;
}
article iframe {
    width: 98%;
}

#newsline {
display: none;
}

#partnerbox {
float: right;
margin-right: 20px;
margin-left: 10px;
height: 800px;
}

#partnerbox h4 {
text-align: center;
color: #999999;
font-weight: normal;
}

#partnerbox a {
    display: block;
    width: 220px;
    height: 90px;
}

.logo-bbc {
background: url("/media/img/partner_logos_gray.png") no-repeat scroll 0px 0px transparent;
}

.logo-bbc:hover {
background: url("/media/img/partner_logos_temp.png") no-repeat scroll 0px 0px transparent;
}

.logo-nyt {
background: url("/media/img/partner_logos_gray.png") no-repeat scroll 0px -75px transparent;
}

.logo-nyt:hover {
background: url("/media/img/partner_logos_temp.png") no-repeat scroll 0px -75px transparent;
}

.logo-guardian {
background: url("/media/img/partner_logos_gray.png") no-repeat scroll 0px -155px transparent;
}

.logo-guardian:hover {
background: url("/media/img/partner_logos_temp.png") no-repeat scroll 0px -155px transparent;
}

.logo-zeit {
background: url("/media/img/partner_logos_gray.png") no-repeat scroll 0px -235px transparent;
}

.logo-zeit:hover {
background: url("/media/img/partner_logos_temp.png") no-repeat scroll 0px -235px transparent;
}

.logo-nacion {
background: url("/media/img/partner_logos_gray.png") no-repeat scroll 0px -315px transparent;
}

.logo-nacion:hover {
background: url("/media/img/partner_logos_temp.png") no-repeat scroll 0px -315px transparent;
}

.logo-spiegel {
background: url("/media/img/partner_logos_gray.png") no-repeat scroll 0px -390px transparent;
}

.logo-spiegel:hover {
background: url("/media/img/partner_logos_temp.png") no-repeat scroll 0px -390px transparent;
}

.logo-boston {
background: url("/media/img/partner_logos_gray.png") no-repeat scroll 0px -470px transparent;
}

.logo-boston:hover {
background: url("/media/img/partner_logos_temp.png") no-repeat scroll 0px -470px transparent;
}

.logo-propublica {
background: url("/media/img/partner_logos_gray.png") no-repeat scroll 0px -545px transparent;
}

.logo-propublica:hover {
background: url("/media/img/partner_logos_temp.png") no-repeat scroll 0px -545px transparent;
}


ul.fellowslist, ul.fellowstats {
	font-family: Helvetica, Verdana, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

ul.fellowslist li, ul.fellowstats li {
display: inline;
padding-right: 7px;
padding-left: 7px;
margin-right: 7px;
border-right: 1px solid black;
}

ul.fellowslist li:first-child, ul.fellowstats li:first-child {
padding-left: 0px;
}
ul.fellowslist li:last-child, ul.fellowstats li:last-child {
border-right: 0;
}
/* application form */
#signup {
    /* 
    to cover up the empty <p></p> that markdown seems insistent to include above the form 
    */ 
    margin-top: -2em;
}
#signup label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5em;
    width: 80%;
}
#signup input, 
#signup textarea {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 90%;
}
#signup input[type="checkbox"] {
    float: left;
    width: auto;
    margin-right: 10px;
}
#signup input[type="checkbox"] + label {
    float: left;
}
#signup input[type="submit"] {
    text-transform: uppercase;
    color: #fff !important;
    border: none;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background: #EF4619;
    background-image: linear-gradient(bottom, rgb(239,50,25) 30%, rgb(239,72,25) 47%);
    background-image: -o-linear-gradient(bottom, rgb(239,50,25) 30%, rgb(239,72,25) 47%);
    background-image: -moz-linear-gradient(bottom, rgb(239,50,25) 30%, rgb(239,72,25) 47%);
    background-image: -webkit-linear-gradient(bottom, rgb(239,50,25) 30%, rgb(239,72,25) 47%);
    padding: 0.4em 24px;
    font-size: 20px;
    box-shadow: 0 0 0.3em #dbdbdb;
    display: inline-block;
    letter-spacing: 0.6px;
    /* Using important so line-height based on containers doesnt't screw stuff up */
    line-height: 1 !important;
    width: auto;
}
#signup input[type="submit"]:hover {
    background-image: linear-gradient(bottom, rgb(239,75,35) 40%, rgb(244,136,75) 82%);
    background-image: -o-linear-gradient(bottom, rgb(239,75,35) 40%, rgb(244,136,75) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(239,75,35) 40%, rgb(244,136,75) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(239,75,35) 40%, rgb(244,136,75) 82%);
    text-decoration: none;
}
#signup input[type="submit"]:active {
    box-shadow: none;
    background: #e54821;
    text-decoration: none;
}
.fieldset {
    margin-bottom: 1em;
    overflow: hidden;
}
.sec-title {
    border-top: 1px solid #C6C6C6;
    line-height: 1;
    padding-top: 1em;
    color: #FC6E1F;
    text-transform: uppercase;
    font-family: "MetaWebPro-Black",Helvetica,Verdana,Arial, sans-serif;
    font-size: 23px;
}
.required {
    color: red;
}