/*
Default template CSS - if you change anything here then updating will be a bit more tricky than you might want
*/
@font-face {
    font-family: MetaWebPro-Black;
    src: url(../fonts/MetaWebPro-Black.woff) format('woff');
}
body {
    font-family: Arial, Helvetica, sans-serif;
}
a:link, 
a:visited,
a:focus,
a:hover,
a:active {
    color: #EF4619;
    text-decoration: none;
}
a:hover,
a:focus,
a:active {
    text-decoration: underline;
}
aside {
    position: relative;
}
.box {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.busta {
    margin: 0 10px;
    position: relative;
    overflow: hidden;
}
.columns {
    overflow: hidden;
    padding-left: 0;
    margin-top: 0;
    clear: both;
}
.col {
    list-style-type: none;
    overflow: hidden;
}
/**= Sections */
/* Masthead */
.masthead {
    background-color: white;
    border-top: 2px solid #686868;
    color: #fff;
}
.tab {
    position: absolute;
    top: 0;
    right: 20px;
    display: block;
    text-indent: -9999em;
    background: transparent url(../img/css/icons.png) no-repeat 0 0;
    width: 118px;
    height: 48px;
    overflow: hidden;
}
.masthead ul {
    overflow: hidden;
    margin: 0;
    padding-left: 0;
}
.masthead ul li {
    float: left;
     padding: 1em;
    display: block;
    font-size: 12px;
}
.masthead ul li:first-child {
    border-left: none;
    padding-left: 0;
}
.masthead ul a {
    padding: 1em;
    display: block;
    font-size: 12px;
}
.masthead ul li:first-child a {
    padding-left: 0;
}
.masthead ul a:link,
.masthead ul a:visited,
.masthead ul a:focus,
.masthead ul a:hover,
.masthead ul a:active {
    color: white;
}
/* External links */
.external {
    background: url("../img/css/bg_external.png") repeat-x scroll 0 0 #FFFFFF;
    font-family: Georgia;
}
.external h2 {
    padding-top: 40px;
    font-family: "MetaWebPro-Black";
    background: transparent url(../img/css/icons.png) no-repeat top left;
    color: #2e2e2d;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: normal;
}
.external .tweet h2 {
    background-position: 0 -140px;
}
.external .mozilla h2 {
    background-position: 0 -290px;
}
.external .learn h2 {
    background-position: 0 -440px;
}
.external p {
    font-size: 14px;
    color: #454545;
}
.external ul {
    padding-left: 0;
}
.external li {
    list-style-type: none;
    border-top: 1px solid #D8DADC;
    padding: 0.5em 0;
    font-size: 14px;
}
.external li:first-child {
    border-top: none;
    padding-top: 0;
}
/* Partners */
.partners {
    background: url("../img/css/bg_partners.png") repeat-x scroll 0 0 #ececec;
}
.partners h2 {
    float: left;
    margin: 1em 0 0; /* 1em = 18px; */
    font-family: "MetaWebPro-Black";
    font-weight: normal;
    text-transform: uppercase;
    font-size: 18px;
}
.partners ul {
    float: left;
    margin: 0;
    padding-left: 0;

}
.partners li {
    float: left;
    margin-right: 20px;
    list-style-type: none;
}
/* Main content */
div[role=main] {
    background: #fff;
    margin: 0.625em 0;
}

/**= And now time for your styles */
#brand img {
    margin-top: 1em;
    width: 80%;
    height: auto;
}
div[role="main"] a {
    color: #AD3121;
}
div[role="main"] h1,
div[role="main"] h2 {
    color: #FF5B24;
    font-family: Helvetica, Verdana, Arial, sans-serif;
}
article p,
article ul {
    font-family: Georgia, "Times New Roman", Times, serif;
    line-height: 1.6;
    font-size: 18px;
}
article header h2 {
    font-size: 30px;
}
article header p {
	font-size: 24px;
}
.fellowsbox h3 {
    margin-top: 0;
    color: #676767;
    font-size: 22px;
    line-height: 1.4;
}
.fellowsbox ul {
    margin-top: 0;
    padding-left: 0;
    list-style-type: none;
}
.fellowsbox .vcard {
    overflow: hidden;
    margin-bottom: 1em;
}
.fellowsbox .vcard p,
.fellowsbox .vcard ul {
    font-family: Arial;
    font-size: 14px;
    margin: 0 0 1em;
}
.fellowsbox .photo {
    border: 1px solid black;
    float: left;
    margin-right:10px;
}
.fellowsbox p.fn {
    font-family: Helvetica;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 0;
}
.fellows_links {
    overflow: hidden;
    margin-top: 5px;
}
.fellows_links li {
    float: left;
}
.fellows_links li:first-child {
    margin-right: 5px;
}
.fellows_links li:first-child:after {
    content: "/";
    padding-left: 5px;
}
