<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>MozFest 2014 Schedule: Journalism Track</title>
        <meta name="description" content="Session schedule for the MozFest 2014 Journalism track, October 25 & 26 in London.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/schedule.css">
        <link rel="shortcut icon" href="img/favicon.ico" />
        <link rel="apple-touch-icon-precomposed" href="img/touch-icon-144x144.png" sizes="144x144" />
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-51039715-2', 'auto');
          ga('send', 'pageview');
        </script>
        <script src="js/modernizr.js"></script>
    </head>
    <body>
        <div class="container">
            <header>
                <h1><a href="/"><img src="img/mozfest_flag.png" alt="MozFest"> 2014 Schedule: Journalism</a></h1>
                <p>
                    October 25 & 26 &bull; Ravensbourne, London, UK &bull; <a href="http://2014.mozillafestival.org/">Full Mozilla Festival site</a>
                </p>
            </header>

            <article id="schedule"></article>
        </div>


        <script type="text/template" id="session-list-template">
        <div id="saturday" class="schedule-tab">
            <h3><span>Saturday 8:30 AM</span></h3>
            <div id="saturday-morning" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Saturday 10 AM</span></h3>
            <div id="saturday-am-1" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Saturday 12 PM</span></h3>
            <div id="saturday-am-2" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Saturday Lunch</span></h3>
            <div id="saturday-lunch" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Saturday 2 PM</span></h3>
            <div id="saturday-pm-1" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Saturday 4 PM</span></h3>
            <div id="saturday-pm-2" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Saturday 5:30 PM</span></h3>
            <div id="saturday-evening" class="page-block"><div class="open-block">OPEN</div></div>
        </div>
        
        <div id="sunday" class="schedule-tab">
            <h3><span>Sunday 9 AM</span></h3>
            <div id="sunday-morning" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Sunday 11 AM</span></h3>
            <div id="sunday-am-1" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Sunday 1 PM</span></h3>
            <div id="sunday-am-2" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Sunday Lunch</span></h3>
            <div id="sunday-lunch" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Sunday 3 PM</span></h3>
            <div id="sunday-pm-1" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Sunday 5 PM</span></h3>
            <div id="sunday-pm-2" class="page-block"><div class="open-block">OPEN</div></div>

            <h3><span>Sunday 6 PM</span></h3>
            <div id="sunday-evening" class="page-block"><div class="open-block">OPEN</div></div>
        </div>
        </script>

        <script type="text/template" id="session-card-template">
        <a href="#_session-<%= sessionID %>" id="session-<%= sessionID %>" class="session-list-item session-<%= sessionClass %>" data-session="<%= sessionID.replace('-ghost','') %>">
            <h4><%= smartypants(session.title) %></h3>
            <% if (showLeaders) { %><p class="session-leaders"><%= smartypants(session.leader) %></p><% } %>
            <p>
                <span class="session-time"><% if (showDay) { %><%= session.day %>, <% } %><%= session.time %></span>
                <span class="session-room"><%= smartypants(session.room) %></span>
            </p>
        </a>
        </script>

        <script type="text/template" id="session-list-item-template">
        <a href="#_session-<%= sessionID %>" id="session-<%= sessionID %>" class="session-list-item" data-session="<%= sessionID.replace('-ghost','') %>">
            <h4><%= smartypants(session.title) %></h3>
            <% if (showLeaders) { %><p class="session-leaders"><%= smartypants(session.leader) %></p><% } %>
            <p>
                <span class="session-time"><% if (showDay) { %><%= session.day %>, <% } %><%= session.time %></span>
                <span class="session-room"><%= smartypants(session.room) %></span>
            </p>
            <div class="hidden session-description"><% if (session.description) { %><%= marked(session.description.replace('http://','').replace('https://','')) %><% } %></div>
        </a>
        </script>

        <script type="text/template" id="session-detail-template">
        <div id="session-detail-wrapper">
            <div class="container">
                <header>
                    <h1><a href="/"><img src="img/srccon_flag.png" alt="SRCCON"> 2014 Schedule</a></h1>
                </header>

                <article id="schedule">
                    <div id="session-detail-<%= session.id %>" class="session-detail" data-session="<%= session.id %>">
                        <a id="show-full-schedule" href="/">&larr; Back to full schedule</a>
                        <h2><%= smartypants(session.title) %></h2>
                        <% if (session.leader) { %><p class="session-leaders"><strong>Session leader(s):</strong> <%= smartypants(session.leader) %></p><% } %>
                        <% if (session.day || session.time || session.room) { %>
                        <p>
                            <span class="session-time"><strong>Day & Time:</strong> <% if (session.day) { %><%= session.day %>, <% } %><%= session.time %></span>
                            <% if (session.room) { %><span class="session-room"><strong>Room:</strong> <%= smartypants(session.room) %></span><% } %>
                        </p>
                        <% } %>
                        <% if (session.description) { %><%= marked(session.description) %><% } %>
                    </div>
                </article>
            </div>
        </div>
        </script>
        
        <script src="js/jquery-2.1.0.min.js"></script>
        <script src="js/underscore-min.js"></script>
        <script src="js/marked.min.js"></script>
        <script src="js/schedule.js"></script>
    </body>
</html>
