<div id="fellowside">
<ul id="fellowmenu">
<li><a href="/what/fellowships" id="fellow_home">fellowships</a></li>
<li><a href="/what/fellowships/info.html" id="fellow_benefits">program details</a></li>
<li><a href="/what/fellowships/community.html" id="community">community</a></li>
<li><a href="/what/fellowships/faq.html" id="faq">application process</a></li>
</ul>

  <select id="fellowselect">
    <option value="">learn about...</option>
    <option value="/what/fellowships">fellowships</option>
    <option value="/what/fellowships/info.html">program details</option>
    <option value="/what/fellowships/community.html">community</option>
    <option value="/what/fellowships/faq.html">application process</option>
  </select>
</div>
