<div id="fellowside">
<ul id="fellowmenu">
<li><a href="/what/fellowships" id="fellow_home">Fellowships</a></li>
<li><a href="/what/fellowships/info" id="fellow_benefits">Program Details</a></li>
<li><a href="/what/fellowships/community" id="community">The Fellows</a></li>
<li><a href="/what/fellowships/faq" id="faq">How to Apply</a></li>
<li><a href="/what/fellowships/apply" id="partners">APPLY NOW</a></li>
</ul>

<select id="fellowselect" onchange="window.location.assign(this.options[this.selectedIndex].value)">
  <option value="">learn about...</option>
  <option value="/what/fellowships">Fellowships</option>
  <option value="/what/fellowships/info">Program Details</option>
  <option value="/what/fellowships/community">The Fellows</option>
  <option value="/what/fellowships/faq">How to Apply</option>
  <option value="/what/fellowships/apply">APPLY NOW</option>
</select>
</div>
