<div id="fellowside">
<ul id="fellowmenu">
<li><a href="/what/fellowships" id="fellow_home">Fellowships</a></li>
<li><a href="/what/fellowships/info" id="fellow_benefits">Program Details</a></li>
<li><a href="/what/fellowships/community" id="community">The Fellows</a></li>
<!--<li><a href="/what/fellowships/why" id="why">Why to Apply</a></li>-->
<li><a href="/what/fellowships/faq" id="faq">How to Apply</a></li>
<li><a href="/what/fellowships/partnerguidelines" id="partners">Partner Info</a></li>
</ul>

  <select id="fellowselect">
    <option value="">learn about...</option>
    <option value="/what/fellowships">Fellowships</option>
    <option value="/what/fellowships/info">Program Details</option>
    <option value="/what/fellowships/community">The Fellows</option>
    <!--<option value="/what/fellowships/why">Why to Apply</option>-->
    <option value="/what/fellowships/faq">How to Apply</option>
    <option value="/what/fellowships/partnerguidelines">Partner Info</option>
  </select>
</div>
