 <div class="busta">
            <h2>Our partner</h2>
            <ul>
                <li><a href="http://www.knightfoundation.org/"><img alt="Knight Foundation" src="/media/img/partners/knight.png" height="50" width="300" /></a></li>
                </ul>
            </div>
        </section>
        <section class="external">
            <div class="busta">
            <div class="col box opennews">
                <h2>Connect with OpenNews</h2>
                <ul>
                <li>Get the latest by <a href="http://planet.drumbeat.org/mojo/">subscribing to our news feed</a></li>        
                <li>Connect on Twitter <a href="http://twitter.com/opennews" class="twitter-follow-button" data-show-count="false">@opennews</a></li>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
               <li>Join our <a href="https://lists.mozilla.org/listinfo/community-mojo">mailing list</a></li>
                <li><a href="mailto:opennews@mozillafoundatioin.org">Contact us</a></li>
                </ul>
            </div>
            <div class="col box knight">
                <h2>About Knight</h2>
 <p>Knight Foundation supports transformational ideas that promote quality
journalism, advance media innovation, engage communities and foster the
arts. The foundation believes that democracy thrives when people and communities are
informed and engaged.
<p>For more, visit <a href="http://www.knightfoundation.org" target="_blank">knightfoundation.org</a> </p>            </div>
            <div class="col box mozilla">
                <h2>About Mozilla</h2>
                <p>Mozilla is a global non-profit dedicated to putting you in control of your online experience and shaping the future of the web for the public good&mdash;by creating great software and fostering communities that build and grow the open web.
<p><a href="http://donate.mozilla.org/email">Sign up to hear more</a>, and, if you're willing, please<a href="http://donate.mozilla.org/join"> join Mozilla.</a>
            </div>
            </div>
