<div id="involved">
             <h3>Get Involved</h3>
            <p>The success of OpenNews depends on people like you! Sign up with the forms below to learn more:</p>
            <ul>
                <li><a href="https://donate.mozilla.org/page/s/knight-mozilla-fellow-info">Become a 2012/13 Fellow</a>
                <li><a href="https://donate.mozilla.org/page/s/knight-mozilla-news-partner">Host a fellow in your newsroom</a></li>
                <li><a href="https://donate.mozilla.org/page/s/knight-mozilla-news-hack-day">Hold a journalism hack day</a></li>
            </ul>
            </div>

                <h3>Meet the 2011/12 Knight-Mozilla Fellows </h3> 
                <ul class="small_list">
                <li><img src="/media/img/fellows/mark_small.jpg"</li>
                <li><img src="/media/img/fellows/cole_small.jpg"</li>
                <li><img src="/media/img/fellows/laurian_small.jpg"</li>
                <li><img src="/media/img/fellows/nicola_small.jpg"</li>
                <li><img src="/media/img/fellows/dan_small.jpg"</li>
                </ul>
                <a href="http://sinker.tumblr.com/post/12326527709/knight-mozilla-fellows">read the full announcement</a>