<div id="navlist">
<h3 class="nav"><a href="/what/conferences">Conferences</a></h3>
<ul>
  <li id="srccon"><a href="/what/conferences/srccon">SRCCON</a></li>
  <li id="mozfest"><a href="/what/conferences/mozfest">MozFest</a></li>
</ul>

<h3 class="nav"><a href="/what/community">Community Support</a></h3>
<ul>
  <li id="source"><a href="/what/community/source">Source</a>
  <li id="convenings"><a href="/what/community/convenings">Code Convenings</a>
  <li id="calls"><a href="/what/community/calls">Community Calls</a>
  <li id="sponsorships"><a href="/what/community/eventsupport">Event Support</a>
 <li id="scholarships"><a href="/what/community/scholarships">Travel Scholarships</a>

</ul>

<h3 class="nav"><a href="/what/fellowships">Fellowships</a></h3>

</div>
