<div id="navlist">
<h3 class="first"><a href="/fellowships">Fellowships</a></h3>
<ul>
  <li id="details"><a href="/fellowships/info.html">program details</a></li>
  <li id="community"><a href="/fellowships/community.html">fellows & alums</a></li>
  <li id="why"><a href="/fellowships/why.html">why to apply</a></li>
  <li id="faq"><a href="/fellowships/faq.html">how to apply
</ul>

<h3>Events</h3>
<ul>
  <li id="srccon"><a href="/srccon.html">SRCCON</a></li>
  <li id="mozfest"><a href="/mozfest.html">MozFest</a></li>
</ul>

<h3>Community Support</h3>
<ul>
  <li id="source"><a href="/source.html">Source</a>
  <li id="convenings"><a href="/convenings.html">Code Convenings</a>
  <li id="calls"><a href="/calls.html">community calls</a>
  <li id="sponsorships"><a href="/hackdays.html">hack day sponsorships</a>
</ul>
</div>
