<div id="sidenav">
  <h3>OpenNews Programs</h3>
  {% include sidebar_nav.html %}
</div>

<!-- remove get involved for now
<div id="involved">
             <h3>Get Involved</h3>
            <p>The success of OpenNews depends on people like you! Join in:</p>
            <ul>
            	<li><a href="/source.html">Contribute to Source</a></li>
              <li><a href="https://source.opennews.org/jobs/">Work in Journalism</a>
              <li><a href="/newspartners.html">Become a News Partner</a></li>
            </ul>
          </div>
        -->
<div id="minifellows">
                <h3>Meet the 2015 <br>Knight-Mozilla Fellows </h3>
                <ul>
<li><img src="/media/img/fellows/2015-fellows/tara60.jpg" alt="Tara Adiseshan"></li>
<li><img src="/media/img/fellows/2015-fellows/juan60.jpg" alt="Juan Elosua"></li>
<li><img src="/media/img/fellows/2015-fellows/livia60.jpg" alt="Livia Labate"></li>
<li><img src="/media/img/fellows/2015-fellows/linda60.jpg" alt="Linda Sandvik"></li>
<li><img src="/media/img/fellows/2015-fellows/julia60.jpg" alt="Julia Smith"></li>
<li><img src="/media/img/fellows/2015-fellows/kavya60.jpg" alt="Kavya Sukumar"></li>
<li><img src="/media/img/fellows/2015-fellows/francis60.jpg" alt="Francis Tseng"></li>
<li><img src="/media/img/fellows/2015-fellows/logo-60.png" alt="" style="border: 1px solid white"></li>
                </ul>
                <p>Our 2015 Knight-Mozilla Fellows will hack the news at the Guardian, NPR, the Center for Investigative Reporting, La Nacion, Vox Media, and the New York Times and Washington Post. <a href="/fellowships/2015meet.html">Learn more about their experience.</a></p>
</div>

<div id="newsbox">
<h3>The latest from the OpenNews team</h3>
<p>Read all our news in our <a class="feed_url" href="http://planet.opennews.org/rss">OpenNews feed</a></p>
</div>
<div id="sourcebox">
<h3>The latest from Source</h3>
<p>Read more at <a href="http://source.opennews.org">Source</a> or subscribe to the <a class="feed_url" href="http://source.opennews.org/en-US/rss/">Source feed</a></p>
</div>
