<div id="navlist">
<h3 class="first"><a href="/what/fellowships">Fellowships</a></h3>
<ul>
  <li id="details"><a href="/what/fellowships/info.html">program details</a></li>
  <li id="community"><a href="/what/fellowships/community.html">fellows &amp; alums</a></li>
  <li id="why"><a href="/what/fellowships/why.html">why to apply</a></li>
  <li id="faq"><a href="/what/fellowships/faq.html">how to apply</a></li>
  <li id="faq"><a href="/what/fellowships/partnerguidelines.html">fellowship partner guidelines</a></li>
</ul>

<h3><a href="/what/conferences">Conferences</a></h3>
<ul>
  <li id="srccon"><a href="/what/conferences/srccon.html">SRCCON</a></li>
  <li id="mozfest"><a href="/what/conferences/mozfest.html">MozFest</a></li>
</ul>

<h3><a href="/what/community">Community Support</a></h3>
<ul>
  <li id="source"><a href="/what/community/source.html">Source</a>
  <li id="convenings"><a href="/what/community/convenings.html">code convenings</a>
  <li id="calls"><a href="/what/community/calls.html">community calls</a>
  <li id="sponsorships"><a href="/what/community/eventsupport.html">event support</a>
</ul>
</div>
