<div id="involved">
             <h3>Get Involved</h3>
            <p>The success of OpenNews depends on people like you! Sign up with the forms below to learn more:</p>
            <ul>
                <li><a href="/fellowships">Become a 2012/13 Fellow</a>
                <li><a href="/hackdays.html">Hold a Journalism Hack Day</a></li>
                <li><a href="/getinvolved.html">Join the Community</a></li>
            </ul>
            </div>
<div id="minifellows">
                <h3>Meet the 2011/12 <br>Knight-Mozilla Fellows </h3> 
                <ul>
                <li><img src="/media/img/fellows/mark_small.jpg"></li>
                <li><img src="/media/img/fellows/cole_small.jpg"></li>
                <li><img src="/media/img/fellows/laurian_small.jpg"></li>
                <li><img src="/media/img/fellows/nicola_small.jpg"></li>
                <li><img src="/media/img/fellows/dan_small.jpg"></li>
                </ul>
                <p>Our 2011/12 Knight-Mozilla Fellows are hacking the news at the BBC, the Guardian, Zeit Online, Al Jazeera English, and the Boston Globe. <b>Learn more about their experience.</b></p>
</div>

<div id="newsbox">
<h3>The latest from the OpenNews team</h3>
<p>Read all our news in our <a id="feed_url" href="http://planet.drumbeat.org/mojo/rss20.xml">OpenNews RSS feed</a></p>
</div>

<script type="text/javascript">
$('#minifellows').click(function(){
document.location.href='/fellowships/2011meet.html';
});

$('#involved').click(function(){
document.location.href='/getinvolved.html';
});

$('#newsbox').click(function(){
document.location.href='/news.html';
});
</script>