<div id="involved">
             <h3>Get Involved</h3>
            <p>The success of OpenNews depends on people like you! Sign up with the forms below to learn more:</p>
            <ul>
                <li><a href="https://donate.mozilla.org/page/s/knight-mozilla-fellow-info">Become a 2012/13 Fellow</a>
                <li><a href="https://donate.mozilla.org/page/s/knight-mozilla-news-partner">Host a fellow in your newsroom</a></li>
                <li><a href="https://donate.mozilla.org/page/s/knight-mozilla-news-hack-day">Hold a journalism hack day</a></li>
            </ul>
            </div>

                <h3>The Knight-Mozilla <br /> Fellows 2011/12</h3> 
                <ul>
                    <li class="vcard">
                        <img class="photo" alt="Mark Boas" src="media/img/fellows/boas.jpg" />
                        <p class="fn">Mark Boas</p> 
                        <p>Fellow at <b>Al Jazeera</b></p>
                        <ul class="fellows_links">
                            <li><a class="url" href="http://twitter.com/#!/maboa">@maboa</a></li>
                            <li><a href="http://happyworm.com/blog/">blog</a></li>
                        </ul>
                    </li>
                    <li class="vcard">
                        <img class="photo" alt="Cole Gillespe" src="media/img/fellows/cole.jpg" />
                        <p class="fn">Cole Gillespe</p> 
                        <p>Fellow at <b>Zeit Online</b></p>
                        <ul class="fellows_links">
                            <li><a class="url" href="http://twitter.com/#!/thecole">@thecole</a></li>
                            <li><a href="https://github.com/coleGillespie">github</a></li>
                        </ul>
                    </li>
                    <li class="vcard">
                        <img class="photo" alt="Laurian Gridinoc" src="media/img/fellows/laurian.jpg" />
                        <p class="fn">Laurian Gridinoc</p> 
                        <p>Fellow at the <b>BBC</b></p>
                        <ul class="fellows_links">
                            <li><a class="url" href="http://twitter.com/#!/gridinoc">@gridinoc</a></li>
                            <li><a href="http://gridinoc.name/">website</a></li>
                        </ul>
                    </li>
                    <li class="vcard">
                        <img class="photo" alt="Nicola Hughes" src="media/img/fellows/nicola.jpg" />
                        <p class="fn">Nicola Hughes</p> 
                        <p>Fellow at the <b>Guardian</b></p>
                        <ul class="fellows_links">
                            <li><a class="url" href="http://twitter.com/#!/datamineruk">@datamineruk</a></li>
                            <li><a href="http://datamineruk.com/">website</a></li>
                        </ul>
                    </li>
                    <li class="vcard">
                        <img class="photo" alt="Dan Schultz" src="media/img/fellows/dan.jpg">
                        <p class="fn">Dan Schultz</p> 
                        <p>Fellow at the <b>Boston Globe</b></p>
                        <ul class="fellows_links">
                            <li><a class="url" href="http://twitter.com/#!/slifty">@slifty</a></li>
                            <li><a href="http://slifty.com/">website</a></li>
                        </ul>
                    </li>
                </ul>
                <a href="http://sinker.tumblr.com/post/12326527709/knight-mozilla-fellows">read the full announcement</a>